<h1>Messages</h1>

<%= link_to "Add new message", new_message_path, class: "btn btn-success mb-3" %>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Chat ID</th>
      <th>User ID</th>
      <th>Body</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.id %></td>
        <td><%= message.chat_id %></td>
        <td><%= message.user_id %></td>
        <td><%= message.body %></td>
        <td>
          <%= link_to "Show", message_path(message), class: "btn btn-sm btn-outline-primary me-1" %>
          <% if can? :edit, message %>
            <%= link_to "Edit", edit_message_path(message), class: "btn btn-sm btn-outline-warning me-1" %>
          <% end %>
          <% if can? :destroy, message %>
            <%= link_to "Delete", message_path(message), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-outline-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>