<h1>Edit Chat</h1>

<%= form_with model: @chat, local: true do |form| %>
  <% if @chat.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@chat.errors.count, "error") %> prohibited this chat from being saved:</h4>
      <ul>
        <% @chat.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :sender_id %>
    <%= form.number_field :sender_id, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :receiver_id %>
    <%= form.number_field :receiver_id, class: "form-control" %>
  </div>

  <%= form.submit "Update Chat", class: "btn btn-primary" %>
<% end %>
