<h1>Chats</h1>

<%= link_to "Add new chat", new_chat_path, class: "btn btn-success mb-3" %>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Other Participant</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @chats.each do |chat| %>
      <tr>
        <td><%= chat.id %></td>
        <td><%= chat.other_participant(current_user).first_name %> <%= chat.other_participant(current_user).last_name %></td>
        <td>
          <%= link_to "Show", chat_path(chat), class: "btn btn-sm btn-primary" %>
          <% if can? :update, chat %>
            <%= link_to "Edit", edit_chat_path(chat), class: "btn btn-sm btn-warning" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
